* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: beige;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background-color: #333;
}

nav img {
    height: 60px;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    gap: 30px;
    color: #fff;
    cursor: pointer;
}

nav ul li:hover {
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

main>h1 {
    text-align: center;
    font-size: 7vh;
    padding-top: 40px;
}

#hero h2 {
    text-align: center;
    font-size: 5vh;
    padding: 20px;
}

#products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#product1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 15vw;
    background-image: url(https://iplanet.one/cdn/shop/files/iPhone_16_Pro_Desert_Titanium_PDP_Image_Position_1__en-IN_50aa07fa-66de-4501-84d8-e50efa72f14e.jpg?v=1727250226);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    color: #000000;
    border-radius: 20px;
    padding: 20px;
}

#product2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 15vw;
    background-image: url(https://a.media-amazon.com/images/I/316ArzLeJ2L._SX300_SY300_QL70_FMwebp_.jpg);
    background-position: center;
    color: #000000;
    border-radius: 20px;
    padding: 20px;
}

#product3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 50vh;
    width: 15vw;
    background-image: url(https://a.media-amazon.com/images/I/418mFfRZu-L._SX300_SY300_QL70_FMwebp_.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fff;
    color: #000000;
    border-radius: 20px;
    padding: 20px;
}

.btn {
    background-color: #111;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #333;
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.products::-webkit-scrollbar {
    display: none;
}

.categories::-webkit-scrollbar {
    display: none;
}

.populars::-webkit-scrollbar {
    display: none;
}

.shader {
    background: linear-gradient(to right bottom, #69628a, #040309);
}